# EPICS TOP directory items
bin/
db/
dbd/
lib/
O.*/
makelog.txt
dbl-all.txt
cdCommands
envPaths
autosave/

# example application(s)
dht22

# pvWebMonitor
pvWebMonitor/log_file.txt
pvWebMonitor/index.html
pvWebMonitor/livedata.html
pvWebMonitor/log-manage.txt
pvWebMonitor/pid.txt
pvWebMonitor/pvlist.html
pvWebMonitor/rawdata.html
pvWebMonitor/rawdata.xml
